@import "~styles/variables";
@import "~styles/animations";

.Day {
  flex: 1;
  height: 100px;
  margin: 4px;
  padding: 10px;
  font-size: 12px;
  line-height: 1em;
  background: #fff;
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
  &:hover {
    border-color: $accent-2;
    transform: scale3d(1.03, 1.03, 1);
  }
}
