@import "~styles/variables";
@import "~styles/animations";

.Day {
  flex: 1;
  height: 8vw;
  margin: 4px;
  padding: 10px;
  font-size: 12px;
  line-height: 1em;
  background: #fff;
  border: 1px solid transparent;
  overflow: hidden;
  transition: all $transition-fast;
  cursor: pointer;

  &:hover {
    border-color: $accent-2;
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1);

    .Day__dow {
      opacity: 1;
    }
  }

  &__header {
    display: flex;
  }

  &__dow {
    padding-left: 6px;
    opacity: 0;
    transition: opacity $transition-fast;
  }

  &--today {
    border-color: $accent-4;
  }

  &--weekend {
    opacity: 0.6;
  }

  &--another-month {
    opacity: 0.4;
  }

  &__task, &__event, &__habit {
    margin: 6px 6px -3px 0;
    line-height: 1.2em;
    padding: 0;
    color: $accent-4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity $transition-fast;
    animation: fadeInUp 0.3s;

    &--done {
      &:before {
        content: "✓ ";
      }
    }
  }

  &__event {
    color: $gray-dark;
  }

  &__habit {
    color: $gray-medium;

    &--missed {
      color: $accent-2;
    }

    &--done {
      color: $accent-3;
    }
  }
}
