.TaskForm {
	&__fields {
		margin: 10px 0 20px;
	}

    .Toggle {
        display: flex;
        width: 100%;

        button {
            flex: 1;
        }
    }

    &__instructions-fields {
      margin-bottom: 3px;

      .ButtonGroup {
        display: flex;
      }

      .Button {
        flex: 1;
        font-size: 12px;
      }
    }
}
