{
    "presets": [
        "@babel/env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            { "legacy": true }
        ],
        "@babel/plugin-proposal-class-properties",
        // "extract-hoc/babel",
        "react-hot-loader/babel"
    ]
}
