$accent-1: #EEEEEE;
$accent-2: #E39774;
$accent-3: #326273;
$accent-4: #5C9EAD;

$gray: #e0e9ee;
$gray-medium: #dadada;
$gray-dark: #636C76;

$tc: $accent-3;
$bgc: $accent-1;

//

$font-family-serif: 'Playfair Display', serif;
$font-family-sans-serif: 'Open Sans', serif;

//

$font-size-xlarge: 60px;
$font-size-large: 40px;
$font-size-medium: 36px;
$font-size-small: 18px;
$font-size-xsmall: 12px;

//

$transition-fast: 0.2s ease-out;

//

$horizontal-padding: 300px;
$horizontal-padding-skinny: 50px;
