@import "~styles/variables";

.Toggle {
  display: flex;
  
  & > .Button {
    border-radius: 2px 0 0 2px;

    & + .Button {
      margin-left: 0;
      border-left-width: 0;
      border-radius: 0 0 0 0;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

  & .Toggle__option--selected {
    background: $accent-4;
    color: $bgc;
    cursor: default;
    // pointer-events: none;
  }
}
