@import "~styles/variables";

.DayView {
  animation: fadeInRight 0.4s ease-out;

  &__title-controls {
    align-items: center;

    &__text {
      width: 220px;
      margin: 0 12px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
