@import "~styles/variables";

.DayView {
  min-height: 260px;
  animation: fadeInRight 0.4s ease-out;

  &__title-controls {
    margin-bottom: 20px;
    align-items: center;

    &__text {
      flex: 1;
      margin: 0 12px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__events {
    margin-top: 15px;
  }

  &__event {
    margin: 0.9em 0 0 0;
    color: $gray_dark;

    &__ongoing {
      color: $accent-5;
    }

    &__time {
      display: inline-block;
      // width: 3.2em;
      font-weight: 900;
      padding-right: 0.5em;
      color: $accent-2;
    }
  }

  &__habit {
    color: $accent-2;

    &--done {
      color: $gray_dark;
      text-decoration: line-through;
    }
  }
}
