@import "~styles/variables";

.DayView {
  animation: fadeInRight 0.4s ease-out;

  &__title-controls {
    align-items: center;

    &__text {
      width: 220px;
      margin: 0 12px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__events {
    margin-top: 15px;
  }

  &__event {
    margin: 7px 0 0 0;
    color: $gray_dark;

    &__time {
      display: inline-block;
      width: 5em;
      font-weight: 900;
      padding-right: 0.3em;
      color: $accent-2;
    }
  }
}
