@import "~styles/variables";

.Calendar {
  height: 100vh;

  .Calendar__Panel-controls {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;

    &__current-month {
      margin: 0 15px;
    }

    .Button {
      margin: 0 5px;
    }
  }

  &__right-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  &--view-radio-group {
    margin: 0;
  }

  .DayWrapper {
    flex: 1 0 10px;
    overflow: hidden;
  }

  &--weekly {
    .Day {
      min-height: 86vh;
      height: 50vh;

      &--another-month {
        opacity: 1;
      }

      &--weekend {
        // opacity: 0.6;
      }

      &--today {
          opacity: 1;
      }
    }
  }

  &--x-days {
    .Calendar--days-container {
      display: flex;
      flex-direction: row;
      // flex-direction: column;
    }

    .Day {
      flex: 1;
      min-height: 86vh;
      margin-bottom: 10px;
      padding-bottom: 20px;
    }
  }

  &__ScrollableContainer {
    margin: 0 -20px;
    padding: 0 20px 20px;
  }
}
