@import "~styles/variables";

.Calendar {
  height: 100vh;

  .Calendar__Panel-controls {
    display: flex;
    align-items: center;
    margin-left: 10px;

    &__current-month {
      margin: 0 15px;
    }

    .Button {
      margin: 0 5px;
    }
  }

  .DayWrapper {
    flex: 1 0 10px;
    overflow: hidden;
  }

  &--weekly {
    .Day {
      min-height: 300px;
      height: 50vh;

      &--another-month {
        opacity: 1;
      }
      
      &--weekend {
        opacity: 0.6;
      }
    }
  }
}
