@import "~styles/variables";

.DayTasks {
    &__task, &__event, &__habit {
      margin: 0.5em 0;
      line-height: 1.2em;
      padding: 0;
      color: $accent-4;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: opacity $transition-fast;
      animation: fadeInUp 0.3s;

      &--done {
        text-decoration: line-through;
      }
    }

    &__task {
      &__project {
        font-size: 0.7em;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        line-height: 1em;
        color: $gray-medium;
        margin: 0.2em 0;
      }
    }

    &__event {
      color: $accent-5;
      margin-top: 0;

      &__ongoing {
        &--middle-day {
          width: 100%;
          border-bottom: 1px solid;
          padding-top: 0.6em;
          margin-bottom: 9px;
        }
      }
    }

    &__habit {
      color: $gray-light;

      &--missed {
        color: $accent-2;
      }

      &--done {
        color: $accent-3;
      }
    }
}
