@import "~styles/variables";
@import "~components/_ui/Button/Button";

.RadioGroup {
  display: flex;
}

.RadioGroup__option {
  @extend .Button;
  padding-left: 1em;
  padding-right: 1em;
  flex: 1;
  border-radius: 0;
  border: 1px solid $gray-light;

  &:first-child {
    border-radius: 2px 0 0 2px;
  }

  & ~ .RadioGroup__option {
    margin-left: -1px;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
    border-right-width: 1px;
  }

  &:hover:not(.RadioGroup__option--selected) {
    background: $accent-4;
    color: $bgc;
  }
}

.RadioGroup__option--selected {
  background: $accent-4;
  color: #fff;
  cursor: default;
}

.RadioGroup__clear {
  display: inline-block;
}
