@import "~styles/variables";
@import "~styles/mixins";

.Panel {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  &__container {
    width: 100%;
    padding: 10px 20px;
  }
  &--left {
    background: $bgc;
  }
  &--right {
    background: $accent-4;
    min-width: 20px;
    .Task {
      background: $accent-3;
      border-color: $accent-3;
      color: $bgc;
      opacity: 0.8;
      &:hover {
        background: $accent-3;
        opacity: 1;
      }
      &__title {
        color: #fff;
      }

      .Button {
        color: #fff;
        &:hover {
          background: #fff;
          color: $accent-4;
        }
      }
    }
  }
  &--photo-background {
    &:before {
      content: "";
      @include abs(-60px, 0, -60px, -60px);
      background: url('https://unsplash.it/1000?random'), linear-gradient(to right top, $accent-2, $gray);
      background-size: cover;
      -webkit-filter: blur(30px);
      // opacity: 0.3;
      pointer-events: none;
      background-blend-mode: hue;
    }
  }
}

.outer-box-container, .resize-handler {
  height: 100vh;
}

// .resize-handler {
//   width: 4px !important;
//   background: #fff;
//   border: 1px solid $accent-4;
// }
