@import "~styles/variables";
@import "~styles/mixins";

.Task {
  position: relative;
  cursor: pointer;
  background: #fff;
  margin: 6px;
  padding: 6px 6px;
  color: $accent-4;
  border: 1px solid #f4f4f4;
  // overflow: hidden;

  &:hover {
    background: #fff;
  }
  &:hover &__buttons {
    opacity: 1;
  }
  &--important {
    &:before {
      content: "★";
      @include abs(16px, auto, auto, -6px);
      font-size: 7px;
      // color: $accent-1;
      opacity: 0.6;
    }
  }
  &--blocked {
    &:before {
      content: "■";
      @include abs(5.5px, auto, auto, 7px);
      font-size: 10px;
      // color: $accent-1;
      opacity: 0.6;
    }
  }
  &--scheduled {
    &:before {
      content: "🕑";
      @include abs(7.25px, auto, auto, 6px);
      font-size: 10px;
      // color: $accent-1;
      opacity: 0.6;
    }
  }
  &--done {
    .Task__title {
      text-decoration: line-through;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  &__buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 2px;
    background: $bgc;
    display: flex;
    flex-direction: column;
    width: 170px;
    opacity: 0;
    transition: opacity $transition-fast;
    z-index: 2;
    &__button {
      width: 100%;
      margin: 0 0 2px;
      text-align: left;
      & + .Task__buttons__button {
        margin: 0 0 2px;
      }
    }
  }
  &__title, &__context {
    margin: 0;
    padding: 0;
  }
  &__title {
    white-space: nowrap;
  }
  &__context-marker {
      display: block;
      position: absolute;
      left: 0.6em;
      opacity: 0.6;
  }
  &__overview {
    padding: 6px 13px;
  }
  &__description {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  &__date {
    margin: 0 0 10px;
    font-size: 12px;
  }
  &__details {
    max-height: 0;
    padding: 0 13px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    &--expanded {
      padding-bottom: 13px;
      max-height: 200px;
    }
  }
}
