@import "~styles/variables";
@import "~styles/mixins";

.Task {
  position: relative;
  cursor: pointer;
  background: #fff;
  margin: 6px 0;
  padding: 3px 6px;
  border: 1px solid #f4f4f4;
  overflow: hidden;
  color: $accent-4;

  &:hover {
    background: #fff;
  }
  &:hover &__buttons {
    opacity: 1;
  }
  &--important {
    &:before {
      content: "★";
      @include abs(19px, auto, auto, -6px);
      font-size: 7px;
      // color: $accent-1;
      opacity: 0.6;
    }
  }
  &--blocked {
    &:before {
      content: "■";
      @include abs(10px, auto, auto, 7px);
      font-size: 10px;
      // color: $accent-1;
      opacity: 0.6;
    }
  }
  &--scheduled {
    &:before {
      content: "🕑";
      @include abs(11.25px, auto, auto, 6px);
      font-size: 10px;
      // color: $accent-1;
      opacity: 0.6;
    }
  }
  &--done {
    .Task__title {
      text-decoration: line-through;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  &__buttons {
    display: flex;
    opacity: 0;
    transition: opacity $transition-fast;
  }
  &__title, &__context {
    margin: 0;
    padding: 0;
  }
  &__title {
    white-space: nowrap;
  }
  &__context-marker {
      display: block;
      position: absolute;
      left: 0.6em;
      opacity: 0.6;
  }
  &__overview {
    padding: 6px 13px;
  }
  &__description {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  &__date {
    margin: 0 0 10px;
    font-size: 12px;
  }
  &__details {
    max-height: 0;
    padding: 0 13px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    &--expanded {
      padding-bottom: 13px;
      max-height: 200px;
    }
  }
}
